/* CSS 3.0  _  2120149, 2120189, 2121000 */

/* Color codes:
/*      ORANGES:    
/*  #C60 #D80 #EA0 */

/*      BLUES:      
/*  #3C5A80 #69C #9CF #CAE5FF */

/*      GREYS       
/*  #CBCBCB #DCDCDC #EDEDED */

body {
    font-size: 14px;
    font-family: 'VegurLight', 'Myriad Pro', 'Orienta', Arial, Helvetica, Sans-Serif;
    position: relative;
    background-color: white;
    background-image: url(../scm-imagens/pw_pattern_@2X.png);
}
h1,
h2,
h3,
h4 {
    margin: 0.8em 0 0.5em 0;
    color: #333;
    font-weight: normal;
    s
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
hr {
    border: 0;
    margin: 1em 0;
    height: 1px;
    padding: 0;
    display: block;
    border-top: 1px solid #ccc;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: left ;
}
fieldset legend * {
    padding-left: 16px;
}
fieldset.title legend {
    position: relative;
    font-size: 14px;
    text-align: left;
    padding: 6px 0;
    width: 100%;
    color: #ddd;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #69C;
    /*background: -webkit-linear-gradient( #69C, #3C5A80);
    /* For Safari */
    /*background: -o-linear-gradient( #69C, #3C5A80);
    /* For Opera */
    /*background: -moz-linear-gradient( #69C, #3C5A80);
    /* For Firefox */
    /*background: linear-gradient( #69C, #3C5A80);
    /**/
    border-radius: 2px;
}
fieldset.title.links legend {
    position: relative;
    font-size: 14px;
    text-align: center;
    padding: 6px 0;
    width: 100%;
    color: #ddd;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #69C;
    border-radius: 2px;
}
fieldset.title.links legend *{
    padding-left: 0 !important;
}
fieldset.title.links div{
    border: 1px solid silver;
    border-top:none;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
}
fieldset.title.links div a p{
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid gray;
    text-align: left;
}
fieldset.banner legend:before{
    content:'';
    position: absolute;
    top:26px;
    left: 0;
    border-style: solid;
    bottom: 0px !important;
    margin-left: 0px !important;
    /* value should match border-width */
    border-width: 6px !important;
    /* value should match margin-left */
    border-color:  #3C5A80 #3C5A80 transparent transparent !important;
}
fieldset.banner legend {
    position: relative;
    font-size: 14px;
    text-align: left;
    padding: 6px 0;
    width: 100%;
    color: #ddd;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #3C5A80;
    /*background: -webkit-linear-gradient( #69C, #3C5A80);
    /* For Safari */
    /*background: -o-linear-gradient( #69C, #3C5A80);
    /* For Opera */
    /*background: -moz-linear-gradient( #69C, #3C5A80);
    /* For Firefox */
    /*background: linear-gradient( #69C, #3C5A80);
    /**/
    box-shadow: 0 0 40px #69C inset;
    border-radius: 2px;
}
fieldset.banner legend:after{
    content:'';
    position: absolute;
    top:26px;
    right: 0;
    border-style: solid;
    bottom: 0px !important;
    margin-left: 0px !important;
    /* value should match border-width */
    border-width: 6px !important;
    /* value should match margin-left */
    border-color:  #3C5A80 transparent transparent #3C5A80 !important;
}
fieldset.banner div{
    border-top: 6px solid rgb(170, 165, 165);
    box-shadow: 0 0 2px rgb(170, 165, 165);
    background-color: rgb(240, 240, 240);
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px;
}
fieldset.banner div fieldset.banner div{
    border-left:12px solid transparent !important;
    border-right:12px solid transparent !important;
}
textarea {
    margin-left: 2px;
    resize: none;
    width: 400px;
    height: 100px;
}
td.left {
    /*    vertical-align: top;*/
    text-align: right;
}
td.areatexto {
    margin-left: 2px;
    vertical-align: top;
    text-align: right;
}
input.big_input[type="text"] {
    margin-left: 2px;
    width: 400px;
}
input:not([type="reset"]):not([type="submit"]),
textarea {
    border-radius: 4px;
    border: 1px silver inset;
    outline: none;
}
/* Classes Globais
##########################################################################################################################################################*/

/* invisibilidade 
-----------------------------------------------------------------------------*/

.hidden {
    display: none !important;
    visibility: hidden;
}
.invisible {
    /*semelhante a hidden mas mantem o layout*/
    visibility: hidden;
}
/* chromedframe 
-----------------------------------------------------------------------------*/

.chromedframe {
    background-color: white;
    background: -webkit-linear-gradient(left, #d4d4d4, silver, #d4d4d4);
    /* For Safari */
    background: -o-linear-gradient(right, #d4d4d4, silver, #d4d4d4);
    /* For Opera */
    background: -moz-linear-gradient(right, #d4d4d4, silver, #d4d4d4);
    /* For Firefox */
    background: linear-gradient(to right, #d4d4d4, silver, #d4d4d4);
    /* Standard syntax (must be last) */
    color: #000;
    box-shadow: 0 0 4px white inset;
    padding: 0.2em 0;
}
/* wrapper 
-----------------------------------------------------------------------------*/

.wrapper {
    width: 1000px;
    max-width: 1000px;
    margin: auto;
    position: relative;
}
/* navbar 
-----------------------------------------------------------------------------*/

.navbar {
    display: inline-block;
    width: 1000px;
    text-align: left;
}
/* shadows
-----------------------------------------------------------------------------*/

.has_shadow {
    box-shadow: 0 0 8px 1px #666;
}
.has_b_shadow {
    box-shadow: 0 1px 3px 0px #666;
}
.has_text_shadow {
    text-shadow: 0px 0px 2px #000;
}
/* borders 
-----------------------------------------------------------------------------*/

.has_borders {
    border-top: solid 1px silver;
    border-bottom: solid 1px silver;
    border-left: solid 1px silver;
    border-right: solid 1px silver;
}
.t_border {
    border-top: inset 1px gray;
}
.b_border {
    border-bottom: outset 1px gray;
}
.l_border {
    border-left: inset 1px gray;
}
.r_border {
    border-right: outset 1px gray;
}
/* corners 
-----------------------------------------------------------------------------*/

.t_corners {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.b_corners {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.l_corners {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
.r_corners {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
/* Top 
##########################################################################################################################################################*/

div#top {
    min-width: 1000px;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    margin-bottom: 0px;
}
div#top a,
div#top li {
    z-index: 1000;
}
div#top #logo {
    position: absolute;
    width: 100%;
    height: 120px;
    text-align: center;
    z-index: 1;
}
div#top #logo .wrapper {
    z-index: -1000;
}
div#top #logo .wrapper .imageholder {
    width: 120px;
    width: 120px;
}
div#top #logo .imageholder {
    text-align: left;
}
div#top #logo .imageholder a {
    width: 120px;
    height: 120px;
}
div#top #logo .imageholder img {
    width: 120px;
    height: 120px;
}
/* firstnavbar 
-----------------------------------------------------------------------------*/

div#firstnavbar {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid gray;
    line-height: 0;
}
div#firstnavbar div.wrapper * {
    display: inline-block;
}
div#firstnavbar div.navbar {
    margin: auto;
}
/* imagens da  firstnavbar 
-------------------------------------------------------*/

div#imagesholder {
    margin-left: 130px;
    /*100px x numero de imagens */
}
div#imagesholder a {
    position: relative;
    float: left;
    clear: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
div#imagesholder a div.imageholder {
    width: 95px;
    height: 75px;
    display: table;
    text-align: center;
}
div#imagesholder a div.imageholder div {
    padding: 5px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
div#imagesholder a div.imageholder h1 {
    margin: auto;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
div#imagesholder div.imageholder,
div#imagesholder div.imageholder div {
    background-color: rgba(255, 255, 255, 0.5);
}
div#imagesholder a:after,
div#imagesholder a > div.imageholder:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: -2px;
    border-style: solid;
    margin-left: -8px;
    /* value should match border-width */
    border-width: 8px;
    /* value should match margin-left */
    border-color: transparent transparent transparent transparent;
}
div#imagesholder a:hover {
    z-index: 1;
}
div#imagesholder a:hover,
div#imagesholder a:hover div.imageholder{
    background-color: #EDEDED;
}

div#imagesholder a:hover div.imageholder h1{    
    color: #3C5A80;
}
/* secondnavbar 
-----------------------------------------------------------------------------*/

div#secondnavbar {
    line-height: 0;
    margin: auto;
    text-align: center;
    height: 36px;
    padding: 0.2em 0;
    /*  #3C5A80 #69C #9CF #CAE5FF */
    background-color: #69C;
    background: -webkit-linear-gradient(left, #69C, #3C5A80, #69C);
    /* For Safari */
    background: -o-linear-gradient(right, #69C, #3C5A80, #69C);
    /* For Opera */
    background: -moz-linear-gradient(right, #69C, #3C5A80, #69C);
    /* For Firefox */
    background: linear-gradient(to right, #69C, #3C5A80, #69C);
    /* Standard syntax (must be last) */
    /*box-shadow: 0 0 4px white inset;*/
}
/*--- items do menu ---*/

ul#nav {
    margin-left: 130px;
    line-height: 1;
    list-style: none;
}
ul#nav li {
    float: left;
    clear: none;
    text-align: left;
    display: inline-block;
    position: relative;
}
ul#nav ul {
    background: transparent;
    list-style: none;
    position: absolute;
    left: -9999px;
    /* display:none por vezes nao funcionava bem */
    z-index: 100;
}
ul#nav ul li {
    width: 100%;
    float: none;
}
ul#nav ul a {
    white-space: nowrap;
}
ul#nav li:hover ul {
    left: 0;
}
/* aparencia do item de menu  */

ul#nav a {
    padding: 10px;
    font-size: 14px;
    display: block;
    font-weight: normal;
    color: white;
    background: transparent;
    text-decoration: none;
    z-index: 0;
    font-weight: bold;
}
ul#nav li:hover a {
    z-index: 1;
    text-decoration: underline
}
/* aparencia do subitem de menu  */

ul#nav li:hover ul li a,
ul#nav li.active:hover ul li a {
    /*resets*/
    font-weight: normal;
    background: none;
    box-shadow: none;
    text-decoration: none;
    text-transform: none;
    border-radius: 0;
    /*end*/
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: white;
    color: black;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray gray #C2C2CC #69C;
    text-shadow: 0px 0px 2px #C2C2CC;
    box-shadow: 0 0 0.4em #444;
}
ul#nav li.active:hover ul li a:hover,
ul#nav li:hover ul li a:hover {
    text-shadow: none;
    ;
    background: #69C;
    color: white;
}
/* search 
-------------------------------------------------------*/

div#searchholder {
    z-index: 10;
    position: relative;
    float: right;
    margin-top: 5px;
}
div#searchholder input[type=text] {
    height: 20px;
    border-radius: 10px;
    padding-left: 10px;
}
div#searchholder input[type=text]:focus {
    outline-color: transparent;
    border-color: #9CF;
}
div#searchholder button[type=submit] {
    vertical-align: top;
    border: none;
    width: 24px;
    height: 24px;
    background: transparent;
    background-image: url(../scm-imagens/system/search.png);
    cursor: pointer;
}
div#searchholder button[type=submit]:hover {
    box-shadow: 0 0 2px #69F inset;
}
/* Middle 
##########################################################################################################################################################*/

div#middle {
    min-width: 1000px;
    position: relative;
    margin-bottom: 0;
}
div#middle div.titulo {
    text-indent: 40px;
    margin-bottom: 0;
}
div#middle div.titulo h1 {
    font-weight: lighter;
    font-size: 56px;
}
/* sidebar 
-----------------------------------------------------------------------------*/

div.has_sidebar div#sidebar {
    position: relative;
    float: left;
    width: 20%;
    background: transparent;
    z-index: 1;
}
div.has_sidebar div#sidebar a {
    text-decoration: none;
    vertical-align: middle;
}
div.has_sidebar div#sidebar p {
    margin: 0.5em 0;
    padding: 10px;
    white-space: nowrap;
    vertical-align: middle;
    color: black;
    /*  #CBCBCB #DCDCDC #EDEDED */
    background-color: #EDEDED;
    background: -webkit-linear-gradient(#EDEDED, #DCDCDC, #EDEDED);
    /* For Safari */
    background: -o-linear-gradient(#EDEDED, #DCDCDC, #EDEDED);
    /* For Opera */
    background: -moz-linear-gradient(#EDEDED, #DCDCDC, #EDEDED);
    /* For Firefox */
    background: linear-gradient(#EDEDED, #DCDCDC, #EDEDED);
    /* Standard syntax (must be last) */
    border-width: 1px;
    border-style: solid;
    border-color: #D1D1DD;
}
div.has_sidebar div#sidebar p:hover {
    color: white;
    text-shadow: 0px 0px 2px gray;
    /*  #3C5A80 #69C #9CF #CAE5FF */
    background-color: #3C5A80;
    background: -webkit-linear-gradient(#69C, #3C5A80, #69C);
    /* For Safari */
    background: -o-linear-gradient(#69C, #3C5A80, #69C);
    /* For Opera */
    background: -moz-linear-gradient(#69C, #3C5A80, #69C);
    /* For Firefox */
    background: linear-gradient(#69C, #3C5A80, #69C);
    /* Standard syntax (must be last) */
}
/* Container da página 
-----------------------------------------------------------------------------*/

div.has_sidebar div#container {
    width: 78%;
    left: 2%;
    float: left;
}
div#container {
    position: relative;
    width: 100%;
    border-color: silver;
    box-shadow: 0 -2px 5px gray;
    background-color: white;
    padding-bottom: 20px;
}
/* Conteudo da página 
-----------------------------------------------------------------------------*/

div.content-left {
    position: relative;
    text-align: left;
    float: left;
    clear: none;
    width: 60%;
}
div.content-left.perfil {
    position: relative;
    text-align: right;
    float: left;
    clear: none;
    width: 29%;
}
div.content-right {
    position: relative;
    text-align: right;
    float: right;
    clear: none;
    width: 40%;
}
div.content-right.perfil {
    position: relative;
    text-align: left;
    float: right;
    clear: none;
    width: 69%;
}
div.content-half {
    position: relative;
    text-align: left;
    float: left;
    clear: none;
    width: 50%;
}
div.content {
    position: relative;
    padding: 1em 2em;
}
section.content{
    background-color: #eaeaea;
}
div.content strong {
    font-weight: bolder;
}
div.content strong:after {
    content: ": ";
    font-weight: bolder;
}
div.content p {
    text-align: justify;
    color: gray;
    text-indent: 10px;
    font-size: 12px;
    line-height: 1.2;
}
div.content a {
    text-decoration: none;
    position: relative;
}
div.content a p {
    text-align: center;
    padding-bottom: 0em;
    color: #69C;
}
div.content a:hover p {
    color: #C60;
}
div.content.assunto {
    position: relative;
    padding-bottom: 0.5em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
div.content td.required:after {
    content: " *";
    position: absolute;
    color: red;
}
div.content a.appointment {
    text-align: center;
    padding: 0!important;
    margin: 0!important;
    text-decoration: none;
}
div.content a.appointment p,
div.content a.appointment:link p,
p div.content a.appointment:visited p {
    margin: 0;
    text-indent: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #D80;
    border: 1px solid #D80;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px white inset;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
div.content a.appointment p:before {
    content: "";
    border: 0px solid gray;
}
div.content a.appointment:hover p {
    color: white;
    background-color: #C60;
    border: 1px solid #C60;
}
div.content-row {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 46px;
}
div.content-row p {
    color: black;
    font-size: 14px;
    line-height: 1.2;
}
div.content-row img.portrait {
    width: 128px;
    height: 128px;
    background: url(../scm-imagens/system/no_portrait.png) cover no-repeat;
    border: none;
    margin: none;
    outline: none;
}
div.content-text {
    text-align: left;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 0 2px gray;
}
div.content-text p,
div.content-text td {
    padding-left: 16px;
}
div.content-other {
    min-height: 128px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 2px gray;
}
div.content-other img {
    width: 128px;
    height: 128px;
    background: url(../scm-imagens/system/no_portrait.png) cover no-repeat;
    border: none;
    margin: none;
    outline: none;
}

.divider {
    float: left;
    width: 1px;
    height: 128px;
    background-color: #999;
    margin-left: 1%;
}
/* Painel de noticias - edicao artigos
-----------------------------------------------------------------------------*/

#painel {
    text-align: left;
    position: relative;
    width: 98%;
    background-color: #F3F3F3;
    box-shadow: 0px 0px 2px gray;
    margin: auto;
}
#painel .content-left {
    width: 20%;
}
#painel .content-right {
    width: 80%;
    text-align: left;
}
#painel .content-right input {
    width: 95%;
}
#painel .content-right textarea {
    width: 94%;
    height: 95%;
}
#painel .content-row {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 25px;
}
#painel .content-row.big {
    height: 90px;
}
#painel .content-row img {
    width: 98%;
    font-size: 10px;
    box-shadow: 0px 0px 2px gray;
}
/* Bot 
##########################################################################################################################################################*/

#bottom {
    margin: auto;
    padding-top: 0;
    min-width: 1000px;
    width: 100%;
    text-align: center;
}
/* thirdnavbar
-----------------------------------------------------------------------------*/

div#thirdnavbar {
    width: 100%;
    text-align: center;
    margin: auto;
    display: inline-block;
    box-shadow: 0 2px 5px gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid silver;
}
div#thirdnavbar div.navbar {
    text-align: center;
}
div.subnavbar {
    vertical-align: top;
    text-align: left;
    max-width: 30%;
    display: inline-block;
}
div.subnavbar a {
    color: #69C;
}
div.subnavbar address {
    font-size: 14px !important;
}
div.subnavbar * {
    text-align: left;
}
div.subnavbar a:hover p:before {}
/* credits
-----------------------------------------------------------------------------*/

div#credits {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #111;
}
div#credits *{
    font-size: 12px !important;
    text-align: right !important;
    color: #111;
}
/* Active Styles 
##########################################################################################################################################################*/

/* firstnavbar
-----------------------------------------------------------------------------*/

div#firstnavbar a.active,
div#firstnavbar a.active:hover {
    z-index: 2;
    border-color: #D80;
}
div#firstnavbar a.active h1,
div#firstnavbar a.active:hover h1 {
    color: #D80 !important;
}
div#firstnavbar a.active,
div#firstnavbar a.active div,
div#firstnavbar a.active:hover,
div#firstnavbar a.active:hover div {
    background-color: white;
}
div#firstnavbar a.active:after,
div#firstnavbar a.active div:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    border-style: solid;
    bottom: -22px !important;
    margin-left: -12px !important;
    /* value should match border-width */
    border-width: 12px !important;
    /* value should match margin-left */
    border-color: white transparent transparent transparent !important;
}
div#firstnavbar a.active div:after {
    bottom: -24px !important;
    border-color: gray transparent transparent transparent !important;
}
/* secondnavbar
-----------------------------------------------------------------------------*/

div#secondnavbar li.active a,
div#secondnavbar li.active:hover a {
    color: #D80;
    position: relative;
    background: transparent;
    box-shadow: none;
    text-decoration: none;
}
div#secondnavbar li.disabled a,
div#secondnavbar li.disabled:hover a {
    position: relative;
    background: transparent;
    box-shadow: none;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}
/* sidebar
-----------------------------------------------------------------------------*/

div.has_sidebar div#sidebar a.active p,
div.has_sidebar div#sidebar a.active p:hover {
    color: white;
    position: relative;
    text-shadow: none;
    box-shadow: none;
    margin: 0.5em 0;
    padding: 20px;
    padding-left: 10px;
    border-radius: 0;
    border-width: 0;
    background: #D80;
    box-shadow: 0 0 10px gray;
}
div.has_sidebar div#sidebar a.active p:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-style: solid;
    bottom: 0;
    margin-right: -54px;
    /* 2 x padding + fontsize*/
    border-width: 27px;
    /* */
    border-color: transparent transparent transparent #D80;
}